@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #302E2B;
  --foreground: #262522;
  --secondary-foreground: #262522;
  --tertiary-foreground: #4B4847;

  --tile-size: 80px;
  --light-tile: #EBECD0;
  --dark-tile: #739552;
  --highlight: rgba(0, 0, 0, .3);
  --check: #F5F682;
}

body {
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  background: var(--background);
}
