@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #302E2B;
  --foreground: #262522;
  --secondary-foreground: #262522;
  --tertiary-foreground: #4B4847;
}

body {
  color: #fff;
  background: var(--background);
}
